
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background: #000;
    color: #fff;
    overflow-x: hidden;
}

/* ================= HEADER ================= */

.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1.5rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    z-index: 1000;
}

.logo {
    font-size: 3rem;
    font-weight: 800;
    color: #b74b4b;
    text-shadow: 0 10px 25px #b74b4b;
    text-decoration: none;
    display: inline-block;
}
h1 a:hover{
    transform: scaleX(1.1);
    opacity: 0.8;
}

.nav a {
    margin-left: 3rem;
    font-size: 1.8rem;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.nav a:hover,
.nav a.active {
    color: #b74b4b;
    border-bottom: 2px solid #b74b4b;
}

.menu-btn {
    display: none;
    background: none;
    border: none;
    font-size: 3rem;
    color: #b74b4b;
    cursor: pointer;
}

/* ================= HOME ================= */

section {
    min-height: 100vh;
    padding: 8rem 9%;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}

.home-img img {
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px #b74b4b;
}

.home-content h1 {
    font-size: 6rem;
}

.home-content h3 {
    font-size: 3.5rem;
    margin: 1rem 0;
}

.home-content p {
    font-size: 1.6rem;
    max-width: 500px;
}

span {
    color: #b74b4b;
}

/* ================= SOCIAL ================= */

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    margin: 3rem 1.5rem 3rem 0;
    border: 2px solid #b74b4b;
    border-radius: 50%;
    color: #b74b4b;
    font-size: 2rem;
    transition: 0.3s;
}

.social-icons a:hover {
    background: #b74b4b;
    color: #000;
    transform: translateY(-5px) scale(1.1);
}

/* ================= BUTTON ================= */

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    border: 2px solid #b74b4b;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #b74b4b;
    letter-spacing: 0.2rem;
    transition: 0.3s;
    text-decoration: none;
}

.btn:hover {
    background: #b74b4b;
    color: #000;
    box-shadow: 0 0 25px #b74b4b;
}

/* ================= TYPING ================= */

.typing-text span::before {
    content: "Web Developer";
    animation: words 15s infinite;
}
.typing-text span::after{
    content: "";
    background-color: black;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 1.0s infinite;
}

@keyframes cursor{
    to{
        
        border-right: 3px solid #b74b4b;
    }
}

@keyframes words {
    0%,20% { content: "Web Developer"; }
    21%,40% { content: "Software Developer"; }
    41%,60% { content: "Web Designer"; }
    61%,80% { content: "Programmer"; }
    81%,100% { content: "Script Writer"; }
}

/* ================= RESPONSIVE ================= */

@media (max-width: 995px) {
    .menu-btn {
        display: block;
    }

    .nav {
        position: absolute;
        top: 100%;
        right: 0;
        background: #161616;
        width: 220px;
        display: none;
        flex-direction: column;
        padding: 2rem;
        border-bottom-left-radius: 9px;
        border-left: 3px solid #b74b4b;
        border-bottom: 3px solid #b74b4b;
    }

    .nav.active {
        display: flex;
    }

    .nav a {
        margin: 1.5rem 0;
        font-size: 2rem;
    }

    .home {
        flex-direction: column;
        text-align: center;
    }

    .home-img img {
        width: 70vw;
    }
}
